* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    width: 1866px;
    height: 1437px;
    text-align: center;

}

#icons-container {

    display: flex;
    padding-top: 0px;
    padding-left: 20px;
}

#first-box {
    background-color: hsl(228, 56%, 26%);
    width: 326px;
    height: 200px;
    background: #1E2D69;
    box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
    border-radius: 10px 100px 10px 10px;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    background-color: hsl(229, 57%, 11%);
    width: 50px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    padding: 10px;


}

#logo-container {
    padding-top: 35px;
    padding-left: 35px;
    margin-top: 100px;
}

#logo-container img {
    padding-top: 20px;
    padding-bottom: 5px;
}

#second-block {
    width: 326px;
    height: 200px;
}

main {
    width: 326px;
    height: 413px;
    border: 1px solid black;
    margin: 127px 24px;
}