* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100vh;
}

@media screen and (min-width: 375px) {
  body {
    background-image: url(/images/bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

footer {
  text-align: center;
  margin: 10px 0;
}

footer a {
  color: #3e52a3;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #0c122c;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 375px) {
  .main {
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-color: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -60px;
    position: relative;
  }
}

.main_first-box {
  background-color: #1d2c67;
  width: 350px;
  height: 201px;
  -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
          box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 100px 10px 10px;
  margin: 15px auto;
}

@media screen and (min-width: 375px) {
  .main_first-box {
    width: 326px;
    height: 201px;
    margin: 15px auto;
  }
}

.main_first-box--logo {
  margin: 40px;
}

.main_first-box--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 176px;
  height: 48px;
  margin-left: 45px;
  margin-bottom: 15px;
}

.main_first-box--icons--doc {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background-color: #0c122c;
  border-radius: 8px;
  padding: 10px 10px 5px 15px;
}

.main_first-box--icons--folder {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background-color: #0c122c;
  border-radius: 8px;
  padding: 13px 20px 5px 12px;
}

.main_first-box--icons--upload {
  width: 48px;
  height: 48px;
  background-color: #0c122c;
  border-radius: 8px;
  padding: 15px 25px 5px 12px;
}

.main_second-box {
  background-color: #1d2c67;
  width: 528px;
  height: 201px;
  -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
          box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 100px;
  position: relative;
}

@media screen and (min-width: 375px) {
  .main_second-box {
    width: 326px;
    height: 196px;
    margin: 15px auto;
    position: static;
  }
}

.main_second-box--sentence {
  font-family: "Raleway", sans-serif;
  color: #dddbff;
  margin-left: 30px;
  padding-top: 0px;
  font-size: 14px;
}

@media screen and (min-width: 375px) {
  .main_second-box--sentence {
    padding-bottom: 10px;
    margin-left: 40px;
  }
}

.main_second-box--sentence--bold {
  font-weight: bold;
}

.main_second-box--progress-bar {
  background-color: #0c122c;
  width: 448px;
  height: 23px;
  mix-blend-mode: normal;
  border-radius: 10px;
  margin: 10px auto;
  border: 2px solid #0c122c;
}

@media screen and (min-width: 375px) {
  .main_second-box--progress-bar {
    width: 262px;
    height: 20px;
  }
}

.main_second-box--progress-bar--sub1 {
  width: 331px;
  height: 17px;
  background: -webkit-gradient(linear, left top, right top, from(#FFA197), to(#FF4A95));
  background: linear-gradient(90deg, #FFA197 0%, #FF4A95 100%);
  border-radius: 8px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 3px;
}

@media screen and (min-width: 375px) {
  .main_second-box--progress-bar--sub1 {
    width: 193px;
    height: 14px;
  }
}

.main_second-box--progress-bar--sub2 {
  background-color: white;
  width: 11px;
  height: 13px;
  border-radius: 60px;
  position: absolute;
  top: 64px;
  right: 156px;
}

@media screen and (min-width: 375px) {
  .main_second-box--progress-bar--sub2 {
    top: 490px;
    right: 125px;
  }
}

.main_second-box--measures {
  color: #dddbff;
  font-size: 12px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.main_second-box--measures--1 {
  display: block;
}

.main_second-box--measures--2 {
  display: block;
}

.main_second-box--white {
  color: #0c122c;
  background: #ffffff;
  -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
          box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 10px 0px 10px;
  width: 175px;
  height: 84px;
  position: absolute;
  top: -60px;
  right: 40px;
}

@media screen and (min-width: 375px) {
  .main_second-box--white {
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 570px;
    right: 90px;
  }
}

.main_second-box--white--value {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_second-box--white--value--bold {
  font-weight: bold;
  font-size: 40px;
  margin-right: 10px;
  display: block;
}

.main_second-box--white--value--light {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  opacity: 0.5;
}

.main_second-box--triangle {
  background: #1d2c67;
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 26px solid white;
  border-left: 22px solid transparent;
  position: absolute;
  top: 23px;
  right: 40px;
}

@media screen and (min-width: 375px) {
  .main_second-box--triangle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */