//importing external styling data
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100vh;

}

footer {
    text-align: center;
    margin: 10px 0;

    a {
        color: hsl(228, 45%, 44%);
    }
}


.main {

    &_first-box {

        &--logo {}

        &--icons {

            &--doc {}

            &-folder {}

            &--upload {}
        }
    }

    &_second-box {

        &--sentence {}

        &--progress-bar {

            &--sub1 {}

            &--sub2 {}
        }

        &--measures {

            &--1 {}

            &--2 {}
        }

        &--white {

            &--value {}
        }

    }


}