* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100vh;
  text-align: center;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution {
  text-align: center;
  margin: 10px 0;
}

.attribution a {
  color: #3e52a3;
}

#icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  clear: both;
  text-align: center;
}

#first-box {
  background-color: #1d2c67;
  width: 326px;
  height: 200px;
  background: #1e2d69;
  -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
          box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 100px 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.icon {
  background-color: #0c122c;
  width: 50px;
  height: 50px;
  margin: 25px 12px 5px 12px;
  text-align: center;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px;
}

#logo-container {
  padding-top: 15px;
  padding-left: 0px;
  margin-top: 5px;
}

#logo-container img {
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-left: 35px;
  float: left;
}

#second-box {
  width: 326px;
  height: 150px;
  background: #1e2d69;
  -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
          box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  margin-top: 15px;
}

main {
  width: 326px;
  height: 413px;
  margin: 127px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#used-GB {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #dbd9ff;
  padding-top: 20px;
}

p {
  width: 180px;
  height: 75px;
  position: absolute;
  bottom: 70px;
  right: 80px;
  background: #ffffff;
  -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
          box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cent85 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #0c122c;
}

#gb-left {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 1px;
  color: #0c122c;
  opacity: 0.5;
  padding-left: 10px;
  text-transform: uppercase;
}

#blue {
  background-color: black;
}

img[alt="upload"] {
  padding: 5px 3px;
}

img[alt="folder"] {
  padding: 5px 3px;
}

footer {
  text-align: center;
}

#progress-bar-pink {
  width: 193px;
  height: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa197), to(#ff4a95));
  background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
  border-radius: 8px;
  z-index: 10;
  border: 1px solid #0c122c;
}

#progress-bar-blue {
  width: 262px;
  height: 21px;
  background: #0c122c;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 10px;
  position: relative;
  margin: 25px;
}

#progress-bar-white {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 30px;
  top: 65px;
  right: 110px;
}

#zero {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #dbd9ff;
  position: absolute;
  top: 90px;
  left: 30px;
}

#mille {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #dbd9ff;
  position: absolute;
  top: 90px;
  right: 30px;
}

footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #dbd9ff;
}

#gb-815 {
  font-weight: bold;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-repeat: repeat;
    background-size: center cover center;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 100px;
  }
  #first-block {
    padding: 20px 40px;
    margin-right: 40px;
    width: 350px;
    height: 201px;
    background: #1e2d69;
    -webkit-box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
            box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
    border-radius: 10px 100px 10px 10px;
    float: left;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */